body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.cell {
  border: 1px solid #999;
  float: left;
  height: 20px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 20px;
}

.dead {
    background: #fff;
}

.alive {
  background: #000;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
